{% extends "base.html" %} 
{% block title %} Home {% endblock %}

{% block content %} 

<div class="starter-template">
    <h1>Convertio</h1>
    <p class="lead">Totally amazing website that helps you convert files. Definitely doesn't fail</p>
</div>
<div>
    <button><a href="/jpgtopng" class="btn btn-danger"><h1>JPG to PNG converter</h1></a></button>
    <button><a href="/pngtojpg" class="btn btn-danger"><h1>PNG to JPG converter</h1></a></button>
    <button><a href="/webptopng" class="btn btn-danger"><h1>WEBP to PNG converter</h1></a></button>
    <button><a href="/bmptopng" class="btn btn-danger"><h1>BMP to PNG converter</h1></a></button>
    <button><a href="/pngtopdf" class="btn btn-danger"><h1>PNG to PDF converter</h1></a></button>
  </div>

{% endblock %}

